{#- need properties:
    page:
        title: string;
        after_title: string|undefined;

    将来的には、Gravのmoduleみたいにしたい。
-#}
{% extends './partials/base.html.twig' %}

{% block main %}
<div class="no-padding g222-hero">
    <header>
        <h1>{{ page.title_display }}</h1>
    </header>
    <div class="padding center-align">{{ content|raw }}</div>
</div>
<div class="">
{% if page.modules is defined%}
    {% for module in page.modules %}
        {% include module.front_matter.layout %}
    {% endfor %}
{% endif %}
</div>
{% endblock %}
