{#- need properties:
    page:
        title: string;
        after_title: string|undefined;

    将来的には、Gravのmoduleみたいにしたい。
-#}
{% extends './partials/base.html.twig' %}

{% block main %}
<article class="home">
    <div class="home-module">
        <h1>{{ page.title_display|raw }}</h1>
        <div class="after-home-title">{{ content|raw }}</div>
    </div>
    {% for module in page.modules %}
    {% include module.front_matter.layout %}
    {% endfor %}
</article>
{% endblock %}
