{% extends './partials/base.html.twig' %}

{% block aftertitle %}
<p style="padding:0 1.5rem 3rem;text-align:center;">つつじ行政書士事務所は、企業経営を支援する行政書士事務所です。<br>応用情報技術者でもありますので、IT関係のご相談にも応じています。<br><a href="/contact.html">お問い合わせはこちらからどうぞ。</a></p>
{% endblock %}