{% extends 'partials/base.html.twig' %}

{% block main %}
{%- include 'partials/breadcrumb.html.twig' -%}
{{ parent() }}
{% endblock %}

{% block aftertitle %}
{% if page.after_title %}
<p style="text-align:center;">{{ page.after_title|raw }}</p>
{% endif %}
{% endblock %}