{#- need properties:
    page:
        after_title: string|undefined;
-#}
{% extends 'partials/base.html.twig' %}

{% block aftertitle %}
    {% if page.after_title is defined %}
    <p>{{ page.after_title|raw }}</p>
    {% endif %}
{% endblock %}