{#- need properties:
    page:
        lastPage: int;
-#}
{% extends './partials/base.html.twig' %}

{% block main %}
    {%- include 'components/breadcrumb.html.twig' -%}
    {{ parent() }}
{% endblock %}

{% block aftertitle %}
<p style="text-align:center;">{{ content|raw }}</p>
{% endblock %}

{% block main_content %}
    <div id="posts-list-parent">
    {% include 'components/post-frag.html.twig' %}
    </div>
{% endblock %}
