{#- need properties 
    page.breadcrumb: array[]:
        href: string|undefined;
        svg: string;
        text: string;
-#}
{#
<nav class="breadcrumb" aria-label="Breadcrumb">
    <a href="/">
        {{ include('components/nav-item.html.twig', {svg: '/assets/icons.svg#home', spantext: 'ホーム'}) }}
    </a>
    {% for bread in page.breadcrumb %}
        <span>&nbsp;&gt;&nbsp;</span>
        {% if bread.href is defined %}
            <a href="{{ bread.href }}">
                {{ include('components/nav-item.html.twig', {svg: bread.svg, spantext: bread.text}) }}
            </a>
        {% else %}
            {{ include('components/nav-item.html.twig', {svg: bread.svg, spantext: bread.text}) }}
        {% endif %}
    {% endfor %}
</nav>
#}