{#- need properties 
    page.eyecatch:
        src: string;
        alt: string;
-#}
<article class="no-padding border" style="max-width:500px;aspect-ratio: 16/9;margin:0 auto;">
    <img width="16" height="9" 
        style="width:100%; height:auto; view-transition-name: photo-example-{{ page.id }}; contain: paint;" 
        src="{{ page.eyecatch.src }}" alt="{{ page.eyecatch.alt }}" />
    <div class="absolute bottom left right padding bottom-shadow white-text">
        {{ page.eyecatch.alt }}
    </div>
</article>
