{#- need properties:
    spantext: string;
    svg: string;
-#}
<svg class="bs-icon" height="16" width="16" viewBox="0 0 16 16">
    <use x="0" y="0" height="16" width="16" href="{{ svg }}"></use>
</svg>
<span class="nav-text">{{ spantext }}</span>
