
<article class="border">
    <h2 style="font-size:1.125rem;font-weight:bold;padding:var(--_padding);">最近の記事</h3>
    <ol style="list-style-type:none;margin:0;padding:0;">
        {% for post in page.posts|slice(0, 5) %}
        <li style="border-top: 1px solid var(--outline-variant);padding:var(--_padding);">
            <div style="display:flex;align-items:center;justify-content:flex-start;gap:1rem;">
                <div class="circle" 
                    style="display:flex;justify-content:center;align-items:center;width:3rem;height:3rem;
                    font-size:2rem;background-color:var(--primary);color:var(--on-primary);flex-shrink:0;">
                    {{ loop.index }}
                </div>
                <div>
                    <h3 class="small" style="font-size:1rem;">
                        <a class="link" href="{{ post.href }}">{{ post.title }}</a>
                    </h3>
                    <div class="m l">{{ post.description }}</div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ol>
    <div style="border-radius:0;border-top:1px solid var(--outline-variant);padding:var(--_padding);
        display:flex;align-items:center;justify-content:flex-start;gap:1rem;">
            <svg class="round" viewBox="0 0 24 24"
                style="background-color:var(--primary);color:var(--on-primary);flex-shrink:0;">
                <use href="#archives" x="4" y="4"></use>
            </svg>
            <div>
                <h3 class="small" style="font-size:1rem;">
                    <a class="link" href="/archives/">記事一覧</a>
                </h3>
                <div class="m l">過去記事の一覧に戻ります</div>
            </div>
        </div>
    </div>
</article>