:root {
    --text-body: #1a1a1c;
    /* sumi-900/#fff */
    --text-desc: #626264;
    /* sumi-700/sumi-400 */
    --text-placeholder: #757578;
    /* sumi-600/sumi-500 */
    --text-link: #003ee5;
    /* sea-600/sea-300 */
    --text-visited: #0017b6;
    /* sea-900/sea-200 */
    --text-disabled: #949497;
    /* sumi-500/sumi-600 */

    --background-primary: #fff;
    /* white/sumi-900 */
    --background-secondary: #f1f1f4;
    /* sumi-100/sumi-700 */
    --background-tertiary: #f8f8fb;
    /* sumi-50/sumi-800 */

    --border-divider: #d8d8d8;
    /* sumi-300/sumi-700 */
    --border-focused: #d18d0f;
    /* wood-500/wood-500 */

    --status-success: #259d63;
    /* forest-600/forest-600 */
    --status-alert: #ec0000;
    /* sun-800/sun-500 */
    --status-warning: #c16800;
    /* wood-800/wood-500 */

    --selection: #4979f5;
    --highlight: #ff0;

    --animation-duration: .3s;
    --g222-accent-color: #e95295;
    --g222-outer-padding: clamp(16px, calc(4vw + 4px), 40px);
    --g222-inner-padding: clamp(8px, calc(3vw + 1px), 32px);
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    word-break: break-all;
    color: var(--text-body);
    background: var(--background-secondary);
    text-rendering: optimizeLegibility;
}

button,
input,
textarea {
    transition: background-color var(--animation-duration) linear, border-color var(--animation-duration) linear, color var(--animation-duration) linear, box-shadow var(--animation-duration) linear, transform var(--animation-duration) ease;
}

h1 {
    font-size: 2.6rem;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
}

h1,
h2 {
    margin-bottom: 24px;
    margin-top: 64px;
    line-height: 1.5;
}

h3 {
    font-size: 1.65rem;
    margin-bottom: 24px;
    margin-top: 40px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--text-body)
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
    font-weight: 700;
}

q:after,
q:before {
    content: none
}

blockquote,
q {
    border-left: 4px solid var(--background-secondary);
    margin: 1.5em 0;
    padding: .5em 1em;
}

address,
blockquote cite {
    font-style: normal
}

mark {
    background-color: var(--highlight);
    border-radius: 2px;
    padding: 0 2px;
    color: #000
}

a>code,
a>strong {
    color: inherit
}

button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=range],
input[type=reset],
input[type=submit],
select {
    cursor: pointer
}

input,
select {
    display: block
}

[type=checkbox],
[type=radio] {
    display: initial
}

button,
input,
select,
textarea {
    color: var(--text-body);
    background-color: var(--background-tertiary);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: 1px solid var(--text-desc);
    border-radius: 6px;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    background-color: var(--background-tertiary);
    padding-right: 30px;
    padding-left: 30px
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    background: var(--background-secondary)
}

input[type=color] {
    min-height: 2rem;
    padding: 8px;
    cursor: pointer
}

input[type=checkbox],
input[type=radio] {
    height: 1em;
    width: 1em
}

input[type=radio] {
    border-radius: 100%
}

input {
    vertical-align: top
}

label {
    margin: 40px 0 4px;
    display: block;
}

textarea {
    display: block;
    margin-right: 0;
    box-sizing: border-box;
    resize: vertical
}

textarea:not([cols]) {
    width: 100%
}

textarea:not([rows]) {
    min-height: 40px;
    height: 140px
}

select {
    background: var(--background-secondary) var(--select-arrow) calc(100% - 12px) 50%/12px no-repeat;
    padding-right: 35px
}

select::-ms-expand {
    display: none
}

select[multiple] {
    padding-right: 10px;
    background-image: none;
    overflow-y: auto
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: solid 2px var(--border-focused);
}

button:active,
input[type=button]:active,
input[type=checkbox]:active,
input[type=radio]:active,
input[type=range]:active,
input[type=reset]:active,
input[type=submit]:active {
    transform: translateY(2px)
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    cursor: not-allowed;
    opacity: .5
}

::-moz-placeholder {
    color: var(--text-placeholder)
}

:-ms-input-placeholder {
    color: var(--text-placeholder)
}

::-ms-input-placeholder {
    color: var(--text-placeholder)
}

::placeholder {
    color: var(--text-placeholder)
}

fieldset {
    border: 2px solid var(--border-focused);
    border-radius: 6px;
    margin: 0 0 12px;
    padding: 10px
}

legend {
    font-size: .9em;
    font-weight: 600
}

input[type=range] {
    margin: 10px 0;
    padding: 10px 0;
    background: transparent
}

input[type=range]:focus {
    outline: var(--border-focused);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9.5px;
    -webkit-transition: .2s;
    transition: .2s;
    background: var(--background-secondary);
    border-radius: 3px
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 1px 1px #000, 0 0 1px #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--border-divider);
    margin-top: -7px
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--background-secondary)
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 9.5px;
    -moz-transition: .2s;
    transition: .2s;
    background: var(--background-secondary);
    border-radius: 3px
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--border-divider)
}

input[type=range]::-ms-track {
    width: 100%;
    height: 9.5px;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: var(--background-secondary);
    border: .2px solid #010101;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--border-divider)
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
    background: var(--background-secondary)
}

a {
    text-decoration: underline;
    color: var(--text-link);
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: var(--text-visited);
}

a:focus {
    outline: 2px solid var(--border-focused);
}

code,
samp,
time {
    display: inline;
    background: var(--background-secondary);
    color: var(--text-body);
    padding: 0 5px;
    border-radius: 6px;
    font-size: 1em;
}

pre {
    max-width: 36rem;
}

pre>code {
    padding: 10px;
    display: block;
    overflow-x: auto;
}

kbd {
    background: var(--background-secondary);
    border: 1px solid var(--border-divider);
    border-radius: 2px;
    color: var(--text-body);
    padding: 2px 4px
}

img,
video {
    max-width: 100%;
    height: auto
}

hr {
    border: none;
    border-top: 1px solid var(--border-divider)
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
    table-layout: fixed
}

table caption,
td,
th {
    text-align: left
}

td,
th {
    padding: 6px;
    vertical-align: top;
    word-wrap: break-word
}

thead {
    border-bottom: 1px solid var(--border-divider)
}

tfoot {
    border-top: 1px solid var(--border-divider)
}

tbody tr:nth-child(2n) {
    background-color: var(--background-secondary)
}

tbody tr:nth-child(2n) button {
    background-color: var(--background-tertiary)
}

tbody tr:nth-child(2n) button:hover {
    background-color: var(--background-primary)
}

::-moz-selection {
    background-color: var(--selection);
    color: #fff;
}

::selection {
    background-color: var(--selection);
    color: #fff;
}

details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-tertiary);
    padding: 10px 10px 0;
    margin: 1em 0;
    border-radius: 6px;
    overflow: hidden
}

details[open] {
    padding: 10px
}

details> :last-child {
    margin-bottom: 0
}

details[open] summary {
    margin-bottom: 10px
}

summary {
    display: list-item;
    background-color: var(--background-secondary);
    padding: 10px;
    margin: -10px -10px 0;
    cursor: pointer;
    outline: none
}

summary:focus,
summary:hover {
    text-decoration: underline
}

details> :not(summary) {
    margin-top: 0
}

summary::-webkit-details-marker {
    color: var(--text-body)
}

dialog {
    background-color: var(--background-tertiary);
    color: var(--text-body);
    border-radius: 6px;
    border-color: var(--border-divider);
    padding: 10px 30px
}

dialog>header:first-child {
    background-color: var(--background-secondary);
    border-radius: 6px 6px 0 0;
    margin: -10px -30px 10px;
    padding: 10px;
    text-align: center
}

dialog::-webkit-backdrop {
    background: rgba(0, 0, 0, .61);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px)
}

dialog::backdrop {
    background: rgba(0, 0, 0, .61);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px)
}

footer {
    border-top: 1px solid var(--border-divider);
    padding-top: 10px;
    color: var(--text-desc)
}

figure {
    margin: 0;
}

@media print {

    body,
    button,
    code,
    details,
    input,
    pre,
    summary,
    textarea {
        background-color: #fff
    }

    button,
    input,
    textarea {
        border: 1px solid #000
    }

    body,
    button,
    code,
    footer,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    pre,
    strong,
    summary,
    textarea,
    p {
        color: #000
    }

    summary::marker {
        color: #000
    }

    summary::-webkit-details-marker {
        color: #000
    }

    a {
        color: #00f;
        text-decoration: underline
    }
}
