body>footer {
    background-color: var(--background-primary);
    margin: 0;
    padding: 0;
    border-top: thin solid var(--border-divider);

    >section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 8px var(--g222-outer-padding);
        display: block;
    }

    >section>h2 {
        font-size: 1.5rem;
        margin-bottom: 24px;
        margin-top: 40px;
        line-height: 1.5;
    }
}