body>header{
    background-color: var(--background-primary);
    margin: 0;
    padding: 0;
    border-bottom: thin solid var(--border-divider);

    >div {
        max-width: 1200px;
        margin: 0 auto;
        padding: 8px var(--g222-outer-padding);
        display: block;
    }

    >div>div.site-title {
        font-weight: bold;
    }

    >div>nav {
        overflow-x: auto;
    }
    >div>nav>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: .95rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0 24px;
    }
    >div>nav>ul>li {
        list-style: none;
        display: inline-block;
        margin: 0;
        border: 0;
    }

    a svg {
        display: inline-block;
        vertical-align: -.2em;
        fill: currentcolor;
        width:1.2em;
        height:1.2em;
        margin:0 .3em 0 0;
    }

    @media screen and (min-width: 992px) {
        >div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }

}