body>main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 0;
    display: block;

    article>h1,
    aside.breadcrumb, aside.eyecatch, aside.content-aside, aside.blog-pager, aside.relation {
        padding: .5rem var(--g222-outer-padding);
    }

    article>h1 {
        text-align: center;
    }

    article>div.content-wrap{
        display: block;
    }

    div.content {
        background-color: var(--background-primary);
        margin: 0 0 30px;
        padding: 3rem var(--g222-outer-padding);
        font-size: 1.125rem;
    }

    aside.content-aside {
        background-color: var(--background-primary);
    }

    aside h2 {
        font-size: 1.5rem;
        margin-bottom: 24px;
        margin-top: 40px;
        line-height: 1.5;
    }

    aside.eyecatch {
        margin: 0 auto;
        padding:0;
        max-width: 480px;
        width: 100%;
        aspect-ratio: 16 / 9;
        border: thin solid #333;
    }
    
    aside.eyecatch>details {
        margin: 0;
        padding: .5rem;
        background-color: transparent;
    }
    
    aside.eyecatch>details>summary, aside.eyecatch>details>div {
        background-color: var(--text-desc);
        color: var(--background-primary);
        font-size: .9rem;
        border: 2px solid var(--border-divider);
        border-radius: 8px;
        margin:0;
        padding: .2rem .5rem;
    }

    p.page-date {
        text-align: center;
        padding: 0 var(--g222-outer-padding) 3em;
    }
    p.page-date>span{
        display: inline-block;
    }

    @media screen and (min-width: 768px) {
        padding-inline: var(--g222-outer-padding);

        article>h1,
        aside.breadcrumb, aside.eyecatch, aside.content-aside, aside.blog-pager, aside.relation {
            padding-inline: 0;
        }

        div.content {
            padding-inline: var(--g222-inner-padding);
        }

        aside.content-aside {
            padding-inline: var(--g222-inner-padding);
        }
    }

    @media screen and (min-width: 992px) {
        
        article>div.content-wrap{
            display: flex;
            align-items: start;
            justify-content: space-between;
            gap: 30px;
        }

        div.content {
            width: calc(100% - 330px);
        }

        aside.content-aside {
            width: 300px;
        }

    }

}