<li>
    <a href="{{ item.link }}">
        <div>
            <svg height="24" width="24" viewBox="0 0 24 24">
                <use href="{{ item.svg }}"></use>
            </svg>
            <span>{{ item.name }}</span>
        </div>
    </a>
</li>
