<li>
    <a href="{{ item.link }}">
        <svg height="16" width="16" viewBox="0 0 16 16">
            <use x="0" y="0" href="{{ item.svg }}"></use>
        </svg>
        <span>{{ item.name }}</span>
    </a>
</li>
