<article class="border white padding">
    <header class="margin">
        <h2 class="g222-h2">{{ module.front_matter.title }}</h2>
    </header>
    <div class="g222-content" style="margin-top: 1rem;">
        {{ module.content|raw }}
    </div>
</article>
