<article class="border white padding margin">
    <header class="padding">
        <h2 class="g222-h2">{{ module.front_matter.title }}</h2>
    </header>
    <div class="padding g222-content">
        {{ module.content|raw }}
    </div>
</article>
