main{
    margin: 0;
    padding: 0;
}

main article div.page-title-wrap {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article h1.page-title {
    text-align: center;
    padding: .5rem var(--g222-container-md);
}

main section h2 {
    font-size: 1.5rem;
    margin: 40px 0 24px;
    line-height: 1.5;
}

main p.page-date {
    text-align: center;
    padding: 0 var(--g222-base-padding) 3em;
}

main p.page-date>span{
    display: inline-block;
    margin-inline: 1rem;
}

ul.sns-icons {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

ul.sns-icons>li {
    margin: .3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
}

ul.sns-icons>li svg,
ul.sns-icons>li img {
    width:1.125rem;
    height:auto;
}
